---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    <ul class="catalog">
        {% for catalog in site.catalog %}
        <li><span>{{ catalog.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ catalog.url }}">{{ catalog.title }}</a></li>
        {% endfor %}
  </ul>
</div>
